<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../main.css" />
    <title>Edit TOOD</title>
  </head>
  <body>
    <div class="container">
      <div class="title">
        <form action="/auth/logout" method="post">
          <div class="form-group">
            <h2>Edit your TODO</h2>
            <input type="submit" value="Logout" />
          </div>
        </form>
      </div>
      <form action="/edittodo/<%= todo._id %>" method="post">
        <div class="form-group">
          <textarea
            rows="10"
            autocomplete="off"
            spellcheck="false"
            name="todo"
            required
            oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'
          >
<%= todo.todo %></textarea
          >
          <input type="submit" value="Done" />
        </div>
      </form>
    </div>
  </body>
</html>
